.categories {

  .category {
    padding: 48px 0 62px;
    margin-bottom: 25px;

    .icon {
      padding-bottom: 20px;
      position: relative;

      .icon-wrapper{
        height: 61px;
      }

      .underline{
        background: $light-main-color;
        border: 1px solid $light-main-color;
      }
    }

    .category-type {
      padding-top: 18px;
    }
  }

  .categories-btn {
    padding-top: 12px
  }
}