.header {
  padding-bottom: 80px;
  background: url(../img/head_bg.png) no-repeat 40%/cover;;
  width: 100%;

  .top-header {
    background-color: $dark-main-color;
    color: $light-main-color;
    //height: 45px;
    padding: 15px 0;
    width: 100%;
  }

  .header-logo {
    padding-bottom: 20px;
    position: relative;
  }

  .header-topic {
    padding: 20px 0 108px;
  }

  .guarantee {
    padding-top: 28px;
    div {
      position: relative;
      i {
        left: -10px;
        position: absolute;
        top: 0;
      }

      p {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.soc-part {
  li {
    min-height: 13px;
    padding: 0 30px 0 0;

    .top-header-soc {
      position: relative;
      color: $light-main-color;
      .fa {
        position: absolute;
        left: 0;
        top: 0;
        &:hover {
          color: $second-color;
        }
      }
    }
  }
}

.list-contact {
  li {
    font: 400 14px/1 'Lato', sans-serif;
    padding-left: 45px;
    position: relative;

    &:first-child {
      border-right: solid 1px $light-main-color;
      padding-right: 15px;
      img {
        top: 3px;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 15px;
    }
  }
}

.header-main {
  padding: 43px 0 175px;

  .header-name {
    position: relative;

    img {
      position: absolute;
      top: -13px;
      left: 15px;
    }

    div {
      padding-left: 75px;
      span {
        font: 700 24px/1 'Exo', sans-serif;
        margin: 0;
      }
    }
  }

  .header-menu .menu-list {

      li {
        font: 400 14px/1 'Lato', sans-serif;
        margin: 0;
        padding: 0 25px;

        & a:hover{
          color: $second-color;
        }

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          position: relative;
          .dropdown-menu {
            margin: 0;
            position: absolute;
            left: 5px;
            z-index: 2;
            visibility: hidden;
            li {
              background: $dark-main-color;
              border-top: 1px solid $light-main-color;
              width: 232px;
              padding: 20px;
              &:hover{
                background: $second-color;
              }

              &.inside-menu-container{
                position: relative;
                .inside-menu {
                  position: absolute;
                  top: 20%;
                  left: 91%;
                  visibility: hidden;
                }
              }
              &.inside-menu-container:hover{
                .inside-menu {
                  visibility: visible;
                }
              }

              &:first-child{
                border-top: 3px solid $second-color;
              }
              p{
                color: $hiddin-menu-color;
                font-size: 14px;
                text-transform: uppercase;
              }
              .fa{
                position: absolute;
                right: 20px;
                color: $hiddin-menu-color;
                transform: translateY(-100%);

              }
            }
          }
        }

        &:first-child:hover{
          .dropdown-menu{
            visibility: visible;
          }
        }

        a {
          text-transform: uppercase;
          font-size: 14px;
          color: $dark-main-color;
        }
      }
  }

  .header-registration {

    li {
      font: 400 14px/1 'Lato', sans-serif;
      margin: 0;
      padding: 0 18px 0 20px;
      position: relative;
      &:last-child {
        padding-right: 0;
      }

      a {
        color: $dark-main-color;
        &:hover{
          color: $second-color;
          i{
            color: $second-color;}
        }
        i {
          color: $light-main-color;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

    }
  }

}



