.statistic-wrapper {
  background: url("../img/categories-background.jpg") no-repeat 54%/cover;
  padding: 66px 0 19px;
  position: relative;
  width: 100%;

  &:before {
    background-color: rgba(0, 0, 0, .92);
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

}

.statistic-wrapper .statistic {
  position: relative;
  z-index: 2;

  .category {
    font-weight: 700;
    padding-bottom: 50px;

    .statistic-count {
      position: relative;
      padding-bottom: 30px;
      p {
        color: #fff;
        font-size: 40px;
      }
    }

    .statistic-description {
      padding-top: 20px;
      p {
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 640px) {
  .statistic-wrapper {
    padding: 20px 0 0;
  }
}